@import './variables';

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    background-color: #f9fafb;
}

.app {
  text-align: center;
  margin-top: 50px;

  h1 {
    color: $primary-color;
    font-size: 2.5rem;
    margin-bottom: $margin;
  }

  p {
    color: darken($primary-color, 20%);
    font-size: 1.2rem;
  }

  button {
    background-color: $secondary-color;
    border: none;
    padding: $padding;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
}